<div id="everything">
  <div id="navigation">
    <div class="button">
      <form id="chatForm">
        <input type="text" id="chatBox" />
        <button id="send">send</button>
      </form>
    </div>    
  </div>
</div>
